
html {
; font-family : 'Fenix', serif
; background  : black
; overflow-x  : hidden
}

a {
; color : #666
; text-decoration : none
; transition         : color .5s ease 0s
; -moz-transition    : color .5s ease 0s
; -webkit-transition : color .5s ease 0s
}
a:hover {
; font-style : italic
}

strong {
; font-weight : bold
}

hr {
; border : 1px solid black
; margin : 30px 0
}

::selection {
; background : #c4c4c4
; color      : black
}
::-moz-selection {
; background : #777
; color      : black
}

#main {
; background    : rgba(5,5,5,.95)
; height        : 85px
; width         : 100%
; color         : white
; border-bottom : 1px solid #111
; position      : fixed
; top           : 0
; z-index       : 1
}
#main #names {
; padding    : 3px 20px
; display    : block
; margin     : 10px 0 0 65px
; float      : left
}
#main #names h1 {
; font-size   : 33px
; font-weight : bold
}
#main #links {
; margin  : 51px 0 0 0
}
#main #links li {
; display : inline-block
; margin  : 0
}
#main #links li a {
; padding       : 0 10px
; color         : #555
; border-bottom : 0
; margin        : 0 0 0 -4px
}
#main #links li a:hover {
; color         : white
; border-bottom : 0
}


#left {
; position : fixed
; height   : 100%
; left     : 50px
}
#left a:first-child {
; border : 0
}
#left #logo {
; padding       : 31px 0 10px 90px;
; top           : 0
; cursor        : pointer
; width         : 77px
; height        : 77px
}
#filter {
; width      : 177px
; color      : white
; text-align : right
; top        : 141px
; height     : 100%
}
#filter li {
; margin        : 3px 0 0 0
; width         : 155px
; color         : #666
; text-overflow : ellipsis
; white-space   : nowrap
; overflow      : hidden
; font-size     : 16px
}
#filter li a {
; outline : 0
}
#filter li:hover {
; cursor     : pointer
; font-style : italic
}
#filter li:hover a {
; color  : white
}
#filter li.active {
; color : #aaa
}
#filter li.active:hover {
; color : white
}
#filter li:first-child {
; overflow : visible
}
#filter li:first-child input {
; background    : #000
; float         : left
; text-align    : right
; width         : 155px
; border        : 0
; border-bottom : 1px solid #111
; padding       : 6px 0 3px
; margin-bottom : 3px
; height        : 21px
; color         : #ddd
}


#trunk {
; margin : 80px 0 0 230px
}
#trunk .article, #trunk .headline {
}
#trunk .article .data, #trunk .headline .data {
; display : none
}
#trunk .article .title, #trunk .headline .title{
; width  : 100%
}
#trunk .article .title img {
; width         : 100%
; margin        : 0
; border-bottom : 1px solid #222
}
#trunk .article .title h1, #trunk .headline .title h1 {
; padding     : 60px 20px 0px 0
; font-weight : bold
; font-size   : 50px
; width       : 70%
}
#trunk .article .title a, #trunk .headline .title a {
; color       : #ddd
}
#trunk .article .title h1 a:hover, #trunk .headline .title h1 a:hover {
; color : white
}
#trunk .article .date, #trunk .headline .date {
; right          : 0
; float          : right
; margin         : 0
; padding        : 50px 20px 0 0
; width          : 38%
; color          : #555
; text-align     : right
; font-size      : 15px
; letter-spacing : 1px
}
#trunk .article .date *, #trunk .headline .date * {
; display     : inline-block
; margin-left : 5px
}
#trunk .article .date *:hover, #trunk .headline .date *:hover {
; color : white
}
#trunk .article .date .day, #trunk .article .date .year {
; font-weight : bold
}
#trunk .article .date .day:hover, #trunk .article .date .month:hover, #trunk .article .date .year:hover {
; color : white
}
#trunk .article .content {
; color      : #ddd
; width      : 77%
; max-width  : 555px
; padding    : 0px 20px 30px 0
; font-size  : 17px
}
#trunk .article .content h1, #trunk .article .content h2, #trunk .article .content h3 {
; font-weight : bold
; margin-top  : 30px
}
#trunk .article .content h1 {
; font-size   : 1.8em
}
#trunk .article .content h2 {
; font-size   : 1.4em
}
#trunk .article .content h3 {
; font-size   : 1em
}
#trunk .article .content p {
; margin : 16px 0
}
#trunk .article .content a:hover {
; color : white
}
#trunk .article .content em {
; font-style : italic
}
#trunk .article .content code {
; font-size     : 13px
; color         : #888
; background    : black
; padding       : 3px
; border        : 1px solid #171717
; border-top    : 1px solid #111111
; border-bottom : 1px solid #222222
; box-shadow    : 0 0 3px #070707
}
#trunk .article .content pre {
; font-size             : 13px
; color                 : #888
; background            : black
; padding               : 10px
; overflow-x            : hidden
; border                : 1px solid #171717
; border-top            : 1px solid #111111
; border-bottom         : 1px solid #222222
; border-radius         : 3px
; -moz-border-radius    : 3px
; -webkit-border-radius : 3px
; box-shadow            : 0 0 3px #070707
}
#trunk .article .content pre:hover {
; overflow-x : scroll
}
#trunk .article .content pre code {
; padding    : 0
; border     : 0
; box-shadow : none
}
#trunk .article .content blockquote {
; font-style : italic
; padding    : 10px 10px 10px 20px
; background : #171717
; color      : #888
; border-radius         : 3px
; -moz-border-radius    : 3px
; -webkit-border-radius : 3px
}
#trunk .article .content li {
; margin           : 0 0 17px 20px
; list-style-image : url(/images/bullets.png)
}
#trunk .article .content p:last-child {
; margin : 0
}
#trunk .article .content img {
; box-shadow            : 3px 3px 9px black
; border-radius         : 3px
; -moz-border-radius    : 3px
; -webkit-border-radius : 3px
; max-width             : 77%
}
#trunk .article .content small.imginfo {
; text-align  : center
; color       : #333
; margin-left : 15px
}

#trunk .article .by {
; margin    : 0 0 20px 0
; color     : #555
; font-size : 18px
; font-type : italic
}
#trunk .article .share {
; color         : white
; padding       : 0 0px
; border-top    : 1px solid #0b0b0b
; border-bottom : 1px solid #090909
; font-size     : 18px
}
#trunk .article .share * {
; display : inline-block
; padding : 9px 9px 9px 0
}
#trunk .article .share li {
; color : #C4C4C4
}
#trunk .article .share li:hover {
; color : #FFF
}

@media screen and (max-width: 480px) {
  #main {
  ; height : 90px
  }
  #main {
  ; margin : 0 0 0 80px
  ; height : 90px
  }
  #main * {
  ; padding : 0px 8px
  }
  #main h1 {
  ; margin-top : 11px
  }
  #left #logo {
  ; width   : 50px
  ; height  : 50px
  ; padding : 20px 15px
  }
  #left #filter {
  ; width : 80px
  }
  #left #filter li {
  ; width     : 57px
  ; font-size : 14px
  }
  #left #filter input {
  ; width : 61px
  }
  #links {
  ; margin-left : 80px
  ; margin-top  : 94px
  }
  #links li a {
  ; font-size : 13px
  }
  #trunk {
  ; margin-left : 80px
  }
  #trunk .article .title h1 {
  ; padding-left : 15px
  ; font-size    : 1.8em
  }
  #trunk .article .title .date {
  ; padding : 15px 15px 15px 0
  }
  #trunk .article .content {
  ; padding-left : 15px
  ; font-size    : .9em
  }
  #trunk .article .by {
  ; margin-left : 15px
  ; font-size   : .9em
  }
  #trunk .article .share {
  ; font-size : 14px
  ; padding   : 0 7px
  }
  #trunk .article .share b {
  ; margin : 10px 0 0 10px
  }
  #trunk .article .share * {
  ; padding : 5px 0 5px 6px
  }
}
