
html {
; font-family : 'Fenix', serif
; background  : white
; overflow-x  : hidden
}

a {
; color              : #666
; outline            : 0
; text-decoration    : none
; transition         : color .5s ease 0s
; -moz-transition    : color .5s ease 0s
; -webkit-transition : color .5s ease 0s
}
a:hover {
; font-style : italic
}

strong {
; font-weight : bold
}

hr {
; border : 1px solid black
; margin : 30px 0
}

::selection {
; background : #000
; color      : white
}
::-moz-selection {
; background : #000
; color      : white
}

#main {
; background    : rgba(250,250,250,.85)
; height        : 85px
; width         : 100%
; color         : black
; border-bottom : 1px solid #ddd
; position      : fixed
; top           : 0
; z-index       : 1
}
#main #names {
; padding       : 3px 20px
; display       : block
; margin        : 10px 0 0 65px
; float         : left
; margin-bottom : 100px
; text-align    : right
}
#main #names a {
; color : inherit
}
#main #names a:hover {
; font-style : normal
}
#main #names h1 {
; font-size   : 29px
; font-weight : bold
}
#main #links {
; margin      : 23px 0 0 0
; line-height : 20px
; font-size   : 16px
}
#main #links li {
; display : inline-block
; margin  : 0
}
#main #links li a {
; padding       : 0 10px
; color         : #777
; border-bottom : 0
; margin        : 0 0 0 -4px
}
#main #links li a:hover {
; color         : black
; border-bottom : 0
}


#left {
; position : fixed
; height   : 100%
; left     : 50px
}
#left #logo {
; padding       : 31px 0 10px 90px;
; top           : 0
; cursor        : pointer
; width         : 77px
; height        : 77px
}
#filter {
; width      : 177px
; color      : #888
; text-align : right
; top        : 141px
; height     : 100%
}
#filter li {
; margin        : 3px 0 0 0
; width         : 155px
; text-overflow : ellipsis
; white-space   : nowrap
; overflow      : hidden
; font-size     : 16px
; clear         : both
}
#filter li:hover {
; cursor     : pointer
; font-style : italic
}
#filter li:hover a {
; color  : black
}
#filter li.active a {
; color       : #555
; font-weight : bold
}
#filter li.active:hover a {
; color : black
}
#filter li:first-child {
; overflow : visible
}
#filter li:first-child input {
; background    : white
; float         : left
; text-align    : right
; width         : 155px
; border        : 0
; border-bottom : 1px solid #ddd
; padding       : 6px 0 3px
; margin-bottom : 3px
; height        : 21px
; color         : #333
; outline       : 0
}


#trunk {
; margin : 80px 0 0 230px
}
#trunk .article, #trunk .headline {
}
#trunk .article .data, #trunk .headline .data {
; display : none
}
#trunk .article .title, #trunk .headline .title{
; width : 100%
}
#trunk .article .title img {
; width         : 70%
; margin        : 5px 0 -40px 0
; border-bottom : 1px solid #aaa
}
#trunk .article .title h1, #trunk .headline .title h1 {
; padding     : 60px 20px 0px 0
; font-weight : bold
; font-size   : 50px
; width       : 70%
}
#trunk .article .title a, #trunk .headline .title a {
; color : #333
}
#trunk .article .title h1 a:hover, #trunk .headline .title h1 a:hover {
; color : black
}
#trunk .article .date, #trunk .headline .date {
; right          : 0
; float          : right
; margin         : 0
; padding        : 90px 20px 0 0
; width          : 38%
; color          : #777
; text-align     : right
; font-size      : 15px
; letter-spacing : 1px
}
#trunk .article .date *, #trunk .headline .date * {
; display     : inline-block
; margin-left : 5px
}
#trunk .article .date *:hover, #trunk .headline .date *:hover {
; color : black
}
#trunk .article .date .day, #trunk .article .date .year {
; font-weight : bold
}
#trunk .article .date .day:hover, #trunk .article .date .month:hover, #trunk .article .date .year:hover {
; color : black
}
#trunk .article .content {
; color      : #555
; width      : 77%
; max-width  : 666px
; padding    : 0px 20px 30px 0
; font-size  : 17px
}
#trunk .article .content h1, #trunk .article .content h2, #trunk .article .content h3 {
; font-weight : bold
; margin-top  : 30px
}
#trunk .article .content h1 {
; font-size   : 1.8em
}
#trunk .article .content h2 {
; font-size   : 1.4em
}
#trunk .article .content h3 {
; font-size   : 1em
; margin-top  : 20px
}
#trunk .article .content p {
; margin : 16px 0
}
#trunk .article .content a:hover {
; color : black
}
#trunk .article .content em {
; font-style : italic
}
#trunk .article .content code {
; font-size     : 13px
; color         : #888
; background    : white
; padding       : 3px
; border        : 1px solid #E7E7E7
; border-top    : 1px solid #EEE
; border-bottom : 1px solid #DDD
; box-shadow    : 0 0 3px #E7E7E7
}
#trunk .article .content pre {
; font-size             : 13px
; color                 : #888
; background            : black
; padding               : 10px
; margin                : 10px 0
; overflow-x            : hidden
; border                : 1px solid #171717
; border-top            : 1px solid #111111
; border-bottom         : 1px solid #222222
; border-radius         : 3px
; -moz-border-radius    : 3px
; -webkit-border-radius : 3px
; box-shadow            : inset 10px 0 30px #0A0A0A
                        , inset 30px 0 100px #070707
}
#trunk .article .content pre:hover {
; overflow-x : scroll
}
#trunk .article .content pre code {
; padding    : 0
; border     : 0
; background : none
}
#trunk .article .content blockquote {
; padding    : 10px 10px 10px 15px
; background : white
; color      : #777
; font-size  : 16px
; box-shadow : inset 10px 0 30px #EAEAEA
             , inset 30px 0 100px #E7E7E7
}
#trunk .article .content blockquote a {
; text-decoration : underline
}
#trunk .article .content ul {
; margin : 8px 0 4px 0
}
#trunk .article .content li {
; margin           : 0 0 8px 20px
; padding-left     : 4px
; list-style-image : url(/images/bullets.png)
}
#trunk .article .content p:last-child {
; margin : 0
}
#trunk .article .content img {
; max-width : 77%
; border    : 1px solid #aaa
}
#trunk .article .content small.imginfo {
; text-align  : center
; color       : #333
; margin-left : 15px
}
#trunk .article .content table {
; margin : 10px 0
}
#trunk .article .content table tr {
; border-bottom : 1px solid #ddd
}
#trunk .article .content table td {
; padding : 10px 5px
}
#trunk .article .content table tr:last-child {
; border-bottom : 0
}
#trunk .article .by {
; margin    : 0 0 20px 0
; color     : #555
; font-size : 18px
; font-type : italic
}
#trunk .article .share {
; color         : #333
; padding       : 0 0px
; border-top    : 1px solid #eee
; border-bottom : 1px solid #eee
; font-size     : 18px
}
#trunk .article .share * {
; display : inline-block
; padding : 9px 9px 9px 0
}


@media screen and (max-width: 600px) {
  #main #names {
  ; margin-left : 0px
  }
  #main #links {
  ; margin-top : 27px
  ; line-height : 21px
  }
  #main #links li a {
  ; font-size : 13px
  ; padding : 5px
  }
  #left {
  ; left : 20px
  }
  #left #logo {
  ; width   : 50px
  ; height  : 50px
  ; padding : 25px 15px 5px
  }
  #left #filter {
  ; width : 80px
  }
  #left #filter li {
  ; width     : 57px
  ; font-size : 14px
  }
  #left #filter input {
  ; width : 61px
  }
  #trunk {
  ; margin-left : 100px
  }
  #trunk .article .title img {
  ; margin-bottom : -10px
  }
  #trunk .article .title h1 {
  ; font-size   : 1.8em
  ; padding-top : 20px
  }
  #trunk .article .title .date {
  ; padding : 25px 15px 15px 0
  }
  #trunk .article .content {
  ; font-size : .9em
  }
  #trunk .article .by {
  ; font-size   : .9em
  }
  #trunk .article .share {
  ; font-size : 14px
  ; padding : 5px 0 20px
  }
  #trunk .article .share b {
  ; margin : 10px 0 0 0
  }
  #trunk .article .share * {
  ; padding : 0
  ; padding : 0 5px 0 0
  }
}
